/*
Style variables for phoenix
*/
 //New Design Color
$case-bg-list-item: #F6F6F6;
$case-bg-color: #F8F9FA;

//primary
$case-primary-50: #FBE9E7;
$case-primary-100: #FBE9E7;
$case-primary-200: #FFAB91;
$case-primary-300: #FF8A65;
$case-primary-400: #FF7043;
$case-primary-500: #FF5722;
$case-primary-600: #F4511F;
$case-primary-700: #E64A19;
$case-primary-800: #D84314;
$case-primary-900: #BF360C;

//secondary
$case-secondary-50: #E1F5FE;
$case-secondary-100: #E1F5FE;
$case-secondary-200: #B3E5FC;
$case-secondary-300: #81D4FA;
$case-secondary-400: #4FC3F7;
$case-secondary-500: #01A9F4;
$case-secondary-600: #039BE5;
$case-secondary-700: #0288D1;
$case-secondary-800: #0177BD;
$case-secondary-900: #01579B;

//Greyscale
$case-greyscale-50: #FFFFFF;
$case-greyscale-100: #F8F9FA;
$case-greyscale-200: #F4F6F8;
$case-greyscale-300: #DFE3E8;
$case-greyscale-400: #C4CDD5;
$case-greyscale-500: #919EAB;
$case-greyscale-600: #637381;
$case-greyscale-700: #454F5B;
$case-greyscale-800: #333D48;
$case-greyscale-900: #212B36;
$case-greyscale-1000: #000000;

//error
$case-error-50: #FFE3E3;
$case-error-100: #FFBDBD;
$case-error-200: #FF9B9B;
$case-error-300: #F86A6A;
$case-error-400: #EF4E4E;
$case-error-500: #E12D39;
$case-error-600: #CF1124;
$case-error-700: #AB091E;
$case-error-800: #8A041A;
$case-error-900: #610316;

//alert
$case-alert-50: #FFFBEA;
$case-alert-100: #FFF3C4;
$case-alert-200: #FCE588;
$case-alert-300: #FADB5F;
$case-alert-400: #F7C948;
$case-alert-500: #F0B429;
$case-alert-600: #DE911D;
$case-alert-700: #CB6E17;
$case-alert-800: #B44D12;
$case-alert-900: #8D2B0B;

//success
$case-success-50: #E3F9E5;
$case-success-100: #C1F2C7;
$case-success-200: #91E697;
$case-success-300: #51CA58;
$case-success-400: #31B237;
$case-success-500: #31B237;
$case-success-600: #0F8613;
$case-success-700: #0E7817;
$case-success-800: #07600E;
$case-success-900: #014807;
